<h2>Movies</h2>

<div>
  <label for="new-movie-title">Movie tile: </label>
  <input id="new-movie-title" #movieTitle />

  <label for="new-movie-date-release">Movie date release: </label>
  <input id="new-movie-date-release" #movieDateRelease />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(movieTitle.value); movieTitle.value = ''"
  >
    Add hero
  </button>
</div>

<ul class="movies">
  <li *ngFor="let movie of movies">
    <a routerLink="/movie-detail/{{ movie.id }}">
      <span class="badge">{{ movie.id }}</span> {{ movie.title }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete movie"
      (click)="delete(movie)"
    >
      x
    </button>
  </li>
</ul>
